<h2 id="research-interests"><a href="index.html">Research Interests</a></h2>
<h2 id="finite-sections-of-aperiodic-schrödinger-operators"><a href="aperiodSchr.html">Finite Sections of Aperiodic Schrödinger Operators</a></h2>
<h2 id="observability-and-controllability-for-systems-in-banach-spaces"><a href="Control_in_Banach_spaces.html">Observability and controllability for systems in Banach spaces</a></h2>
<h2 id="stokes-operator-on-lipschitz-domains"><a href="navier-stokes.html">Stokes Operator on Lipschitz Domains</a></h2>
<h2 id="research-project-template"><a href="topic-template.html">Research Project Template</a></h2>
