
  <div id="brcr">
     <a href="http://www.tuhh.de" title="Startseite Technische Universit&auml;t Hamburg (Externer Verweis)" target="_blank">TUHH</a> /
     <a href='/' title='Startseite Institut f&uuml;r Mathematik'>Institut f&uuml;r Mathematik</a> / 

