    <div id="sidebar">
      <div id="mainmenu">
        <ul class="sf-menu sf-vertical" id="nav">
          <li><a href="/index.html">Home</a></li>
          <li><a href="#"><span>Institut</span></a>
            <ul>
              <li><a href="/informationen/mitarbeiter.php"><span>Mitarbeiter</span></a>
                <ul>
                  <li><a href="/forschung/aa/mitarbeiter.php">Angewandte Analysis</a></li>
                  <li><a href="/forschung/cm/mitarbeiter.php">Computational Mathematics</a></li>
                  <li><a href="/forschung/dm/mitarbeiter.php">Diskrete Mathematik</a></li>
                  <li><a href="/forschung/nm/mitarbeiter.php">Numerische Mathematik</a></li>
                  <li><a href="/forschung/st/mitarbeiter.php">Stochastik</a></li>
                  <li><a href="/informationen/mitarbeiter.php#tech">Technische Mitarbeiter</a></li>
                  <li><a href="/informationen/mitarbeiter.php#alumni">Ehemalige Mitarbeiter</a></li>
                </ul>
              </li>
              <li><a href="/informationen/sprechzeiten.php">Sprechzeiten</a></li>
              <li><a href="/informationen/organisation.php">Organisation</a></li>
              <li><a href="/intern">Interner Bereich</a></li>
              <li><a href="/informationen/stellenausschreibungen.html">Offene Stellen</a></li>
            </ul>
          </li>
          <li><a href="#" title="Forschung"><span>Forschung</span></a>
            <ul>
              <li><a href="/forschung/aa">Angewandte Analysis</a></li>
              <li><a href="/forschung/cm">Computational Mathematics</a></li>
              <li><a href="/forschung/dm">Diskrete Mathematik</a></li>
              <li><a href="/forschung/nm">Numerische Mathematik</a></li>
              <li><a href="/forschung/st">Stochastik</a></li>
              <li><a href="/forschung/publikationen.php">Publikationen</a></li>
            </ul>
          </li>
          <li><a href="#"><span>Lehre</span></a>
            <ul>
              <li><a href="/lehre/veranstaltungen.html">Lehrveranstaltungen</a></li>
              <li><a href="/lehre/klausuren/index.html">Klausuren</a></li>
              <li><a href="/lehre/pruefungen/index.html">M&uuml;ndliche Pr&uuml;fungen</a></li>
              <li><a href="/lehre/online-assignments.html">Online-Assignments</a></li>
              <li><a href="/lehre/materialsammlung.html">Materialsammlung</a></li>
              <li><a href="/lehre/abschlussarbeiten.html">Abschlussarbeiten</a></li>
            </ul>
          </li>
          <li><a href="#"><span>Studium</span></a>
            <ul>
              <li><a href="/studium/angebote">Angebote f&uuml;r<br>Mathematik-Interessierte</a></li>
              <li><a href="/studium/technomathematik">Technomathematik</a></li>
              <li><a href="/studium/ombplus/">Online-Kurs OMB+</a></li>
            </ul>
          </li>
          <li><a href="#"><span>Veranstaltungen</span></a>
            <ul>
              <li><a href="/isem23">23rd Internet Seminar<br>"Evolutionary Equations"</a></li>
              <li><a href="/veranstaltungen/vortraege/vortraege.php">Vortr&auml;ge</a></li>
              <li><a href="/veranstaltungen/kolloquium/kolloquium.php">Kolloquium</a></li>
              <li><a href="/gamm-ot/">GAMM Fachausschuss Angewandte Operatortheorie</a></li>
              <li><a href="https://www.studentchapter-math.uni-hamburg.de/">SIAM & GAMM Chapter Hamburg</a></li>
              <li><a href="/technomathecamp">Technomathematik-Camps</a></li>
              <li><a href="/studium/angebote">Angebote f&uuml;r<br>Mathematik-Interessierte</a></li>
              <li><a href="/veranstaltungen/schuelerpraktikum/index.html">Sch&uuml;lerpraktikum</a></li>
              <li><a href="/veranstaltungen/archiv/index.html">Veranstaltungsarchiv</a></li>
            </ul>
          </li>
          <li><a href="#"><span>E-Klausuren</span></a>
            <ul>
              <li><a href="/lehre/eklausur/index.html">Allgemein</a></li>
              <li><a href="/lehre/eklausur/beratung.html">Beratung</a></li>
              <li><a href="/lehre/eklausur/infrastruktur.html">Pr&uuml;fungsger&auml;te,<br>-r&auml;ume und -aufbau</a></li>
              <li><a href="/lehre/eklausur/mapleta.html">Maple T.A.</a></li>
              <li><a href="/lehre/eklausur/faq.html">FAQ</a></li>
              <li><a href="/lehre/eklausur/pub.html">Publikationen,<br>Vortr&auml;ge & Workshops</a></li>
              <li><a href="/lehre/eklausur/index.html#Kontakt">Kontakt</a></li>
              <hr>
              <li><a href="/lehre/eklausur/graphentheorie_optimierung.html">Graphentheorie &<br>Optimierung</a></li>
              <li><a href="https://www.tuhh.de/mls/lehre/e-pruefungen.html" target="_blank">Maschinelles Lernen<br>in der Logistik</a></li>
              <li><a href="/lehre/eklausur/mathe1_la1.html">Mathematik I:<br>Lineare Algebra I</a></li>
              <li><a href="/lehre/eklausur/numerik_differentialgleichungen.html">Numerik gew&ouml;hnlicher<br>Differentialgleichungen</a></li>
              <li><a href="/lehre/eklausur/numerische_mathematik_1.html">Numerische Mathematik I</a></li>
              <li><a href="/lehre/eklausur/stochastik.html">Stochastik</a></li>
            </ul>
          </li>
        </ul>

      </div> <!-- mainmenu -->
      <div style="clear: both;"></div>

      <div id="news">
        <div id="head">News</div>
        <ul class="no_margin">
          <li><a href="https://media.tuhh.de/e10/mathImageProcessing/">Vorlesung Mathematische Bildverarbeitung</a></li>
          <!--li><a href="https://www.mat.tuhh.de/informationen/stellenausschreibungen.html">Stellenausschreibungen</a></li-->
          <li><a href="https://www.tuhh.de/tuhh/uni/aktuelles/covid-19.html" target="_blank">Aktuelle Informationen<br>zu Covid-19</a></li>
          <!--li>xx.-xx. Juligust 20XX:<br><a href="/exsample">exsample<br>exsample-Workshop</a></li-->
        </ul>
      </div>

    </div> <!-- sidebar -->
    <div id="text">
      <noscript>
        <p><span class="important">HINWEIS: JavaScript f&uuml;r vollst&auml;ndige Darstellung eventueller visueller Effekte aktivieren!</span></p>
      </noscript>
      <h1></h1>
