<!--#set var="GERMAN_PAGE" value="aperiodSchr.html" -->
<!--#set var="TITLE" value="Finite Sections of Aperiodic Schrödinger Operators" -->
<!--#set var="HEAD_TITLE" value="$TITLE" -->
<!--#include virtual="/include/html/header.html" -->
<!--#include virtual="/include/html/brcr_begin.html" -->
<a href='/forschung/topics' title='Forschungsgebiete'>Forschungsgebiete</a> / 
<!--#echo var="TITLE" -->
<!--#include virtual="/include/html/brcr_end.html" -->
<!--#include virtual="/include/html/sidebar.html" -->

<h1 id="finite-sections-of-aperiodic-schrödinger-operators">Finite Sections of Aperiodic Schrödinger Operators</h1>
<h3 id="working-groups-lehrstuhl-angewandte-analysis">Working Groups: <a href="/forschung/aa/forschung.html">Lehrstuhl Angewandte Analysis</a></h3>
<h3 id="collaborators-mat-dennis-gallaun-m.-sc.-fabian-gabel-m.-sc.-dr.-julian-großmann-prof.-dr.-marko-lindner-riko-ukena-m.-sc.">Collaborators (MAT): <a href="/home/dgallaun.html">Dennis Gallaun, M. Sc.</a>, <a href="/home/fgabel.html">Fabian Gabel, M. Sc.</a>, <a href="/home/jgrossmann.html">Dr. Julian Großmann</a>, <a href="/home/mlindner.html">Prof. Dr. Marko Lindner</a>, <a href="/home/rukena.html">Riko Ukena, M. Sc.</a></h3>
<h2 id="description">Description</h2>

<!--#include virtual="/include/html/footer.html" -->
