<h1 id="finite-sections-of-aperiodic-schrödinger-operators">Finite Sections of Aperiodic Schrödinger Operators</h1>
<h3 id="working-groups-lehrstuhl-angewandte-analysis">Working Groups: <a href="aa.html">Lehrstuhl Angewandte Analysis</a></h3>
<h3 id="collaborators-mat-dennis-gallaun-m.-sc.-fabian-gabel-m.-sc.-dr.-julian-großmann-prof.-dr.-marko-lindner-riko-ukena-m.-sc.">Collaborators (MAT): <a href="dgallaun.html">Dennis Gallaun, M. Sc.</a>, <a href="fgabel.html">Fabian Gabel, M. Sc.</a>, <a href="jgrossmann.html">Dr. Julian Großmann</a>, <a href="mlindner.html">Prof. Dr. Marko Lindner</a>, <a href="rukena.html">Riko Ukena, M. Sc.</a></h3>
<h2 id="description">Description</h2>
<p>Discrete Schrödinger operators are used to describe physical systems on lattices and, therefore, play an important role in theoretical solid-state physics. For a fixed <span class="math inline">\(p \in [1,\infty]\)</span>, consider the Schrödinger operator <span class="math inline">\(H \colon \ell^p(\mathbb{Z}) \to \ell^p(\mathbb{Z})\)</span> given by</p>
<p><span class="math display">\[
(H x)_n = x_{n + 1} + x_{n - 1} + v(n) x_nn \in \mathbb{Z},
\]</span>(1)</p>
<p>and its one-sided counterpart <span class="math inline">\(H_+ \colon \ell^p(\mathbb{N}) \to \ell^p(\mathbb{N})\)</span> given by</p>
<p><span class="math display">\[
(H_+ x)_n = x_{n + 1} + x_{n - 1} + v(n) x_n\;,n \in \mathbb{N}, \quad  x_0 = 0\;.
\]</span> (2)</p>
<p>Based on Definitions <span class="math inline">\((1)\)</span> and <span class="math inline">\((2)\)</span>, one can associate <span class="math inline">\(H\)</span> and <span class="math inline">\(H_+\)</span> with infinite tridiagonal matrices <span class="math inline">\(A = (a_{ij})_{i,j \in \mathbb{Z}}\)</span> and <span class="math inline">\(A_+ = (a_{i,j})_{i,j \in \mathbb{N}}\)</span>.</p>
<p>Looking at the corresponding infinite linear system of equations</p>
<p><span class="math display">\[
A x = b \quad\text{and}\quad A_+ y = c
\]</span></p>
<p>it is interesting to know if the solutions <span class="math inline">\(x\)</span> and <span class="math inline">\(y\)</span> to theses systems can be computed approximately by solving the large but finite linear systems</p>
<p><span class="math display">\[
A_m x^{(m)} = b^{(m)} \quad\text{and}\quad (A_+)_m y^{(m)} = c^{(m)}
\]</span></p>
<p>and letting <span class="math inline">\(m \to \infty\)</span>. This is the main idea of the Finite Section Method (FSM). In order to assure the applicability of the above procedure, one investigates further properties of the operator <span class="math inline">\(A\)</span>, the sequence <span class="math inline">\((A_n)\)</span> and its one-sided counterparts. In particular, Fredholm Theory, spectral theory and the concept of limit operators play a central role in this investigation [1].</p>
<p>This research project deals with the investigation of the applicability of the FSM to problems surging from aperiodic discrete Schrödinger Operators [3]. A famous example for theses operators is the so called Fibonacci-Hamiltonian [2], where the potential <span class="math inline">\(v\)</span> is given as</p>
<p><span class="math display">\[
v(n) := \chi_{[1 - \alpha, 1)}(n \alpha \operatorname{mod} 1)\;, \quad n \in \mathbb{Z}.
\]</span></p>
<p>For this particular example, the central objects of investigation are periodic approximations <span class="math inline">\((A_m)\)</span>. It is crucial to assure that the spectrum of these approximations eventually avoids the point <span class="math inline">\(0\)</span> for larger numbers of <span class="math inline">\(m\)</span>. The following graph shows approximations of the spectra of the one-sided Fibonacci Hamiltonian on <span class="math inline">\(\ell^2(\mathbb{N})\)</span>.</p>
<p><img src="./img/periodicApproxFibHam.png" /></p>
<h2 id="references">References</h2>
<p>[1] M. Lindner. Infinite Matrices and their Finite Sections: An Introduction to the Limit Operator Method, Basel: Birkhäuser, 2006.</p>
<p>[2] M. Lindner, H. Söding. “Finite Sections of the Fibonacci Hamiltonian,” in The Diversity and Beauty of Applied Operator Theory, edited by A. Böttcher, D. Potts, P. Stollmann and D. Wenzel. Cham: Springer International Publishing, (2018):381-396.</p>
<p>[3] F. Gabel, D. Gallaun, J. Großmann, R. Ukena. The Finite Section Method for Aperiodic Schrödinger Operators. <a href="https://arxiv.org/abs/2104.00711">arXiv:2104.00711</a></p>
