html {
  overflow-x:auto; /* IE hack for x-scrollbar */
  overflow-y:auto; /* IE hack for y-scrollbar */
  }

body {
  min-width:60.16em;
  margin:0;
  padding:0;
  font-family:Verdana,Arial,Helvetica,sans-serif;
  /*font-weight:normal; */
  font-size:0.8em;
  color:#003; 
  background:#f2f2f2;
}

a, a:visited {
  color:#009;
  font-weight:bold;
  text-decoration:none;
}

a:hover {
  color:#c60;
  font-weight:bold;
  text-decoration:none;
}

#header {
  height:6.6em;
  padding:0;
  margin:0;
  background-color:#cce4ee;/*#9cc; */
  background-image:url(/include/images/background.gif);
  background-repeat:repeat-x;
  background-position: center;
  /*overflow:hidden;
  position:absolute;
  top:0; left:0;
  width:100%;*/
  /*border-top:1.2em solid #cce4ee; */
  /*border-bottom:1.2em solid #9cc;*/ /*#7fbbd4;#5a9ede*/
  /*background-position:4.425em;
  -moz-border-radius-bottomleft:20px;
  -moz-border-radius-bottomright:20px;
  -khtml-border-radius-bottomleft:20px;
  -khtml-border-radius-bottomright:20px;*/
}

#header img {
  height:52px;
  background: rgba(204, 228, 238, 1);
  padding:16px;
}

#header .logo-left {
  float:left;
}

#header .logo-right {
  float:right;
}

/*#header img {
  width:5.78em;
  height:4.06em;
  border:none;
}*/

/*#header #logo {
  position:absolute;
  top:1.25em; left:0em; 
  border-left:0.9em solid #cce4ee;
  border-right:0.9em solid #cce4ee; 
}*/

#brcr {
  /*clear:both;
  position:relative;
  top:7.3em; left:0;*/
  padding:2px 4px 2px 1.2em;
  height:1.3em;
  font-size:0.9em;
  color:#006;
  background:#7fbbd4;
  white-space:nowrap;
  z-index:2;
  /*-moz-border-radius-topleft:20px;
  -moz-border-radius-topright:20px;
  -khtml-border-radius-bottomleft:20px;
  -khtml-border-radius-bottomright:20px;*/
}

/*#brcr a {
  display:inline;
  text-decoration:none;
  color:#006;}

#brcr a:hover, #brcr a:focus {
  text-decoration:underline;
  color:#000;}*/

#content {
  /*margin-top:6.2em;*/
  background:#cce4ee; 
}

/*#content a.main {
  background-image:url(/img/pfeil_bw.gif);
  background-repeat:no-repeat;
  background-position:0 0.25em;
  padding:0 0 0 1em;
  margin-bottom:0.35em;
}

#content a.main:hover {
  color:#c60;
  background-image:url(/img/pfeil_ow.gif);
  background-repeat:no-repeat;
  background-position:0 0.25em;
}

#content a.main:focus {
  color:#c60;
  background-image:url(/img/pfeil_ow.gif);
  background-repeat:no-repeat;
  background-position:0 0.25em;
}*/

#content #sidebar {
  position:relative;
  padding:1.5em 0 1em 0;  /* ohne news */
  /*padding:0em 0 1em 0;  mit news */
  width:17.5em;
  float:left; 
  background-color:#cce4ee;
}

#content #sidebar #menu a, #content #sidebar #menu a:visited {
  border:0.02em solid #cce4ee;
  display:block;
  font-weight:normal;
  margin:0;
  padding:0.05em 0 0.05em 0.7em;
  cursor:pointer;
  white-space:nowrap;
} 
 
#content #sidebar #menu a:hover, #content #sidebar #menu a.aktiv, #content #sidebar #menu a.aktiv:hover {
  color:#c60;
  display:block;
  font-weight:normal;
  background-color:#f2f2f2;
  border:0.02em solid #7fbbd4;
}

/* Für Überschriften in den Extramenüs, die nicht verlinkt sind */
#content #sidebar #menu p {
  border:0.02em solid #cce4ee;
  display:block;
  font-weight:bold;
  margin:0;
  padding:0.5em 0 0.05em 0.7em;
  white-space:nowrap;
} 
 
#content #sidebar #menu .capture { 
  color:#369;
  font-weight:bold;
  margin:0;
  padding:0.6em 0 0.6em 0.7em;
}

#content #sidebar #news {
  padding:0.3em;
  margin-top:1em;
  /*border:0.1em solid #c60;*/
}

/*#content #sidebar #news a, #content #sidebar #news a:visited {
  margin:0;
  padding:0.0em 0 0.0em 0.2em;
  color:#006;
  text-decoration:none; 
  cursor:pointer;
  white-space:nowrap;
}

#content #sidebar #news a:hover, #content #sidebar #news a.aktiv, #content #sidebar #news a.aktiv:hover { 
  background-color:#f2f2f2;
  color:#c60;
  border-top:0.02em solid #7fbbd4;
  border-bottom:0.02em solid #7fbbd4;
  text-decoration:none;
}*/

/*#content #sidebar #news a, #content #sidebar #news a:visited {
  border:0;
  display:inline;
  font-weight:bold;
  margin:0;
  padding:0;
  color:#009;
}

#content #sidebar #news a:hover {
  background-color:#cce4ee;
  border:0;
  color:#c60;
  display:inline;
  font-weight:bold;
}*/

#content #sidebar #news p {
  font-size:95%;
  margin:0.7em 0 0.5em 0.7em;
}

#content #sidebar #news #head {
  background-color:#c60;
  /*font-size:120%;*/
  font-weight:bold;
  color:#fff;
  /*margin-bottom:0.4em;*/
  padding:0.3em;
  height:1.3em;
}

#content #text {
  margin-left:17.5em;
  min-width:40.66em;
  padding:1em;
  color:#003;
  background:#f2f2f2;
  /*width:700px; */ 
}

/*#content #text a, #content #text a:visited {
  color:#009;
  text-decoration:underline;
}

#content #text a:hover {
  color:#c60;
  text-decoration:underline;
}*/

#content #text iframe {
  height:27.34em;
  width:33.2em;
}

#content #text table {
  border-collapse:collapse;
}


#content #text th, #content #text td {
  border:0.08em solid #7fbbd4;
  padding:0.2em;
  /*text-align:left;*/
  vertical-align:top;
}

#content #text #form td, #content #text #form tr {
  border:0;
}

#content #text #start_page th, #content #text #start_page td {
  border:0.08em solid #E6E6E6;
  padding:1em;
}

#content #text table.center {
  margin-left:auto;
  margin-right:auto;
}

#content #text table.full_width {
  width:100%;
}

#content #text th.center, #content #text td.center {
  /*text-align:center;*/
  vertical-align:middle;
}

#content ul.no_margin {
  margin-bottom:0;
  margin-top:0;
  margin-left:1.2em;
  padding-left:0;
}

#footer {
  clear:both;
  margin:0;
  padding-left:0.7em;
  line-height:1.5em;
  font-size:0.8em; 
  color:#000;
  background:#7fbbd4;
  border-bottom:0.2em solid #7fbbd4;
  /*-moz-border-radius-bottomleft:20px;
  -moz-border-radius-bottomright:20px;
  -khtml-border-radius-bottomleft:20px;
  -khtml-border-radius-bottomright:20px;*/
}

#footer #mail_icon {
   height:0.88em;
   width:1.27em;
}
