<h1 id="observability-and-controllability-for-systems-in-banach-spaces">Observability and controllability for systems in Banach spaces</h1>
<h3 id="working-groups-lehrstuhl-angewandte-analysis">Working Groups: <a href="aa.html">Lehrstuhl Angewandte Analysis</a></h3>
<h3 id="collaborators-mat-dr.-habil.-christian-seifert-dennis-gallaun-m.-sc.-fabian-gabel-m.-sc.-jan-meichsner">Collaborators (MAT): <a href="cseifert.html">Dr. habil. Christian Seifert</a>, <a href="dgallaun.html">Dennis Gallaun, M. Sc.</a>, <a href="fgabel.html">Fabian Gabel, M. Sc.</a>, <a href="jmeichsner.html">Jan Meichsner</a></h3>
<h3 id="collaborators-external-clemens-bombach-michela-egidi-martin-tautenhahn">Collaborators (External): <a href="https://www.tu-chemnitz.de/mathematik/analysis/bombach/">Clemens Bombach</a>, <a href="https://megidi.wordpress.com/">Michela Egidi</a>, <a href="https://home.uni-leipzig.de/mtau/">Martin Tautenhahn</a></h3>
<h2 id="description">Description</h2>
<p>THIS IS A TEST FILE</p>
<p>Let <span class="math inline">\(X,Y\)</span> be Banach spaces, <span class="math inline">\((S_t)_{t \geq 0}\)</span> a <span class="math inline">\(C_0\)</span>-semigroup on <span class="math inline">\(X\)</span>, <span class="math inline">\(-A\)</span> the corresponding infinitesimal generator on <span class="math inline">\(X\)</span>, <span class="math inline">\(C\)</span> a bounded operator from <span class="math inline">\(X\)</span> to <span class="math inline">\(Y\)</span> and <span class="math inline">\(T&gt;0\)</span>. We consider systems of the form <span class="math display">\[\begin{equation}
\begin{aligned}
  \dot{x}(t) &amp; = -Ax(t), \quad &amp; &amp;t\in (0,T] ,\quad x(0)  = x_0 \in X, \\
  y(t)  &amp;= Cx(t), \quad   &amp; &amp; t\in [0,T]
  \end{aligned}
\end{equation}\]</span></p>
<p>and study the question whether one can reconstruct the final state <span class="math inline">\(x(T)\)</span> from the measurements <span class="math inline">\(y(t)\)</span> for <span class="math inline">\(t \in (0,T)\)</span>. This relates to a final state observability estimate, that is, there exists <span class="math inline">\(C_{\mathrm{obs}} &gt; 0\)</span> such that for all <span class="math inline">\(x_0 \in X\)</span> we have <span class="math inline">\(\lVert x (T) \rVert_X \leq C_{\mathrm{obs}} \lVert y \rVert_{L_r ((0,T) ; Y)}\)</span> for some <span class="math inline">\(r\in [1,\infty]\)</span>.</p>
<p>The most studied example is the self-adjoint Schrödinger operator <span class="math inline">\(A = \Delta - V\)</span> in <span class="math inline">\(L_2 (\Omega)\)</span> with bounded potential <span class="math inline">\(V\)</span>, and <span class="math inline">\(C = \mathrm{1}_E\)</span> for <span class="math inline">\(E \subset \Omega \subset \mathbb{R}^d\)</span>. One possible approach to show an observability estimate is the so-called Lebeau-Robbiano method [1], that is, to prove a quantitative <em>uncertainty relation</em> for spectral projectors. This is an inequality of the type <span class="math display">\[\begin{equation*}
 \forall \lambda &gt; 0 \ \forall \psi \in L_2 (\Omega) \colon \quad 
 \lVert P (\lambda) \psi \rVert_{L_2 (\Omega)}
 \leq
 d_0 \mathrm{e}^{d_1 \lambda^{\gamma}}
 \lVert \mathrm{1}_E P (\lambda) \psi \rVert_{L_2 (E)} ,
\end{equation*}\]</span></p>
<p>where <span class="math inline">\(\gamma \in (0,1)\)</span>, <span class="math inline">\(d_0,d_1 &gt; 0\)</span>, and where <span class="math inline">\(P (\lambda)\)</span> denotes the projector to the spectral subspace of <span class="math inline">\(-\Delta + V\)</span> below <span class="math inline">\(\lambda\)</span>. Subsequently, this strategy is generalized to semigroups in abstract Hilbert spaces. In particular the <span class="math inline">\(P(\lambda)\)</span> are allowed to be arbitrary projectors (onto semigroup invariant subspaces) by assuming additionally a so-called <em>dissipation estimate</em>, that is, a decay estimate of the semigroup on the orthogonal complement of the range of <span class="math inline">\(P(\lambda)\)</span>.</p>
<p>A natural setup to ask for observability estimates is the context of Banach spaces and <span class="math inline">\(C_0\)</span>-semigroups. In [2], we extend the above-mentioned stategy to the Banach space setting. In particular, we show in the general framework of Banach spaces that an uncertainty relation together with a dissipation estimate implies a final state observability estimate. Our observability constant <span class="math inline">\(C_{\mathrm{obs}}\)</span> is given explicitly with respect to the parameters coming from the uncertainty relation and the dissipation estimate and, in addition, is sharp in the dependence on <span class="math inline">\(T\)</span>.</p>
<p>Using the well-known relation between observability and null-controllability of the predual system one can proof controllability results by the adapted Lebeau-Robbiano method. In [3] we consider parabolic control systems on <span class="math inline">\(L_p(\mathbb{R}^d)\)</span>, <span class="math inline">\(p\in [1,\infty)\)</span>, of the form <span class="math display">\[\begin{equation}
  \dot{x}(t) = -A_p x(t) + \mathrm{1}_E u(t),\quad t\in (0,T],\quad x(0) = x_0\in L_p(\mathbb{R}^d),
\end{equation}\]</span></p>
<p>where <span class="math inline">\(-A_p\)</span> is a strongly elliptic differential operator with constant coefficients. Assuming that <span class="math inline">\(E\subset \mathbb{R}^d\)</span> is a so-called thick set, we proof (approximate) null-controllability, i.e. for all <span class="math inline">\(x_0\in L_p(\mathbb{R}^d)\)</span> there is <span class="math inline">\(u \in L_r ((0,T);L_p (E))\)</span> which steers the mild solution at time <span class="math inline">\(T\)</span> (approximately) to zero.</p>
<p>A weaker concept than null-controllability is stabilizability. In the ongoing work [4] the uncertainty relation and the dissipation estimate in the Lebeau-Robbiano method are weakend to proof stabilizabilty for systems which are not null-controllable. ## References</p>
<p>[1] G. Lebeau and L. Robbiano. Contrôle exact de l’équation de la chaleur, Comm. Partial Differential Equations, 20(1–2):335–356, 1995.</p>
<p>[2] D. Gallaun, C. Seifert, and M. Tautenhahn. Sufficient criteria and sharp geometric conditions for observability in Banach spaces, SIAM J. Control Optim., 58(4):2639–2657, 2020.</p>
<p>[3] C. Bombach, D. Gallaun, C. Seifert, and M. Tautenhahn. Observability and null-controllability for parabolic equations in <span class="math inline">\(L_p\)</span>-spaces. <a href="https://arxiv.org/pdf/2005.14503.pdf">arXiv:2005.14503</a></p>
<p>[4] M. Egidi, D. Gallaun, C. Seifert, and M. Tautenhahn. Sufficient criteria for stabilization properties in Banach spaces. In preparation.</p>
