<h2 id="research-interests"><a href="index.html">Research Interests</a></h2>
<h2 id="observability-and-controllability-for-systems-in-banach-spaces"><a href="Control_in_Banach_spaces.html">Observability and controllability for systems in Banach spaces</a></h2>
