    </div><!--/#text-->
  </div><!--/#content-->
  <div id="footer">
    <a href="mailto:baasch@tuhh.de" title="E-Mail an den Webmaster"><img src="{project_root}/include/images/mailto.gif" id="mail_icon" alt="mail icon" title="E-Mail an den Webmaster"></a>
    aktualisiert am  18.02.2019, 12:42 Uhr
    | <a href="#">Seitenanfang</a>
    | <a href="https://www.tuhh.de/tuhh/ueber-uns/datenschutz.html" title="TUHH Datenschutzerklärung (Externer Link)" target="_blank">Datenschutz</a>
    | <a href="http://www.tuhh.de/informationen/impressum.html">Impressum</a>
    | <a href="http://www.tuhh.de/matwiki">Wiki</a>
    | <a href="http://www.tuhh.de/tuhh/uni/lageplan/campusplan.html" title="TUHH Lageplan (Externer Link)" target="_blank">Lageplan</a>
  </div><!--/#footer-->

</body>

</html>
